/* Styles généraux */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    height: 200px;
    width: 100%;
    background-color: black;
}

.wrapper {
    height: 300vh;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, blue, red);
}

.section, .wrapper {
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
}

.sticky, .trigger {
    width: 100%; /* Full width within container */
    height: 100%; /* Full height within container */
    display: flex; /* Centers content horizontally */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

.trigger {
    border: solid 2px red;
    height: 400px;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    /*background-color: black; !* Pour éviter de voir le fond de .wrapper *!*/
}

h1 {
    color: white;
    margin: 0;
}
