.main-tool-bar {
    position: fixed;
    width: 100vw; /* Ensures full width */
    top: 0;
    left: 0;
    background-color: #ededed;
    transition: height 0.4s ease;
    z-index: 100; /* Assurez-vous qu'il est au-dessus des autres contenus */
    height: 60px; /* Définissez une hauteur fixe */
    display: flex; /* Utilisez Flexbox pour aligner le contenu */
    align-items: center; /* Centre verticalement le contenu */
    padding: 0 20px; /* Ajoutez du padding pour un peu d'espace */
}

.main-tool-bar--scrolled {
    height: 100px; /* Adjusted height when scrolled */
}
