


body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.panel {
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  width: 100vw;  /* Prend toute la largeur de la fenêtre */
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: 2rem;
  color: #fff;
}

/* Couleurs pour chaque section */
.description {
  background-color: #333;
}

.one {
  background: linear-gradient(to right, #159957, #155799);
}

.two {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.three {
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
}

.four {
  background: linear-gradient(to right, #fdc830, #f37335);
}

.panel.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Header navigation bar */
.main-tool-bar {
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 50%;
  z-index: 200;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #918888;
  opacity: 0.8;
  padding: 0.5% 0;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 50%;
}

/* List items in the navigation */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual list item button */
.nav-item-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-item-button:hover {
  background-color: rgba(224, 224, 224, 0.46);
  border-radius: 8px;
  transform: translateY(-2px);
}

/* Icon styling within each button */
.nav-item-icon {
  margin-right: 0.5rem;
}

/* Active link styling */
.nav-item-button.active {
  background-color: #d4d4d4;
  font-weight: bold;
}

.headline {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(227, 218, 209);
  font-size: clamp(6rem, 20rem, 14vw);
  letter-spacing: 0.05rem;
  will-change: transform;
}

.subBigTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 40%;
  left: 10.2%;
  color: rgb(227, 218, 209);
}

.headline * {
  will-change: transform;
}
/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(227, 218, 209);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0icmdiKDIyNywyMTgsMjA5KSIgZD0iTTQ4My4yLDE5Mi4yYy0yMC41LTIwLjUtNTMuNS0yMC44LTczLjctMC42TDI1NywzNDQuMUwxMDQuNSwxOTEuNmMtMjAuMi0yMC4yLTUzLjItMTkuOS03My43LDAuNmMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTBjMTAuMS0xMC4xLDEwLjEtMjMuMSwwLjEtMzMuMkM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

#smooth-wrapper {
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 500vw; /* Assurer que le conteneur ait une grande largeur */
}

.section {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.blue { background: #1e90ff; }
.red { background: #ff6347; }
.gray { background: #696969; }
.purple { background: #800080; }
.green { background: #32cd32; }

.box {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}


/* Projects.css */
.item_ {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}